
.vid{
  border-style:solid;
}

.scrolling-div {
  height: 100px;
  width:95%;
  overflow:scroll;
  box-sizing: border-box;
  border-style: solid;
  border-width: 3px;
}

.sbutton{
  font-size:60px;
}
.pbutton{
  font-size:60px;
}
.inset-div {
  box-sizing: border-box;
  border-style: solid;
  border-width: 3px;
  border-top-color: #e5e5e5;
  border-right-color: #eee;
  border-bottom-color: #e5e5e5;
  border-left-color: #eee;

  font-family: Times;
  text-align: left;



  box-shadow: 10px 10px 25px 20px #888888;
}
.avatar_img{
	height:75px;
}
